/* Custom scrollbar styles for webkit-based browsers */
.overflow-y-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #37203E;
    border-radius: 20rem;
  }
  
  .overflow-y-scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #1F8EBE, #440495, #B102CD);
    border-radius: 10px;
}
.delete-button {
  position: relative;
}

.delete-button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: red;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all 0.5s;
}

.delete-button:hover::before {
  width: 100%;
  z-index: -1;
}

.delete-button.hovered::before {
  width: 100%;
  z-index: 1;
}
.delete-icon {
  z-index:2;
  position: relative;
}
